head
  meta(charset="utf-8")
  - var nodeModulesPath = '../../node_modules/'
  // Raster
  link(rel='stylesheet', href=nodeModulesPath + 'Raster/dist/raster.css')
  script(src=nodeModulesPath + 'Raster/dist/raster.js')
  // Bullets
  link(rel='stylesheet', href=nodeModulesPath + 'bullets/dist/bullets.css')
  script(src=nodeModulesPath + 'bullets/dist/bullets.js')
