doctype html
html(lang="en")
  title= "Coffee"
  include ./includes/head
  //- link(rel='stylesheet', href='') Add path to 'repl/stylecss'
	//- <link rel="stylesheet" href="css/highlight-default.css">
	//- <script src="js/highlight.pack.js"></script>
body
  include ./includes/coffee.html
