doctype html
html(lang="en")
  title= "Coffee"
  include ./includes/head
  //- TODO: Handle repl style, this comes after moving those styles into vial or elsewhere?
  //- link(rel='stylesheet', href='') Add path to 'repl/stylecss'
  //- TODO: Handle highlight styles, these should probably just be copied into the repo later
  //- <link rel="stylesheet" href="css/highlight-default.css">
  //- <script src="js/highlight.pack.js"></script>
body
  include ./includes/coffee.html
